.site-header {
  .bg-img('hero-img.png');
  -ms-behavior: url(/ie8-support/backgroundsize.min.htc);


  img {
    margin-top: (38px - 23px )/2;
    transition: all 0.3s linear;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.site-nav {
  background-color: @overlay;
  background-color: fade(@overlay, 85%);
  padding: 60px 0;

  .horizontal-nav {
    float: right;
  }

}

.hero-heading {
  margin: 250px 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;

  span {
    background-color: fade(@overlay, 85%);
    padding: 0 20px;
  }
}

// Section services
.stn-heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.143em;
  margin-bottom: 40px;
  margin-top: 0;
  line-height: 1;

  &::after {
    content: '';
    width: 45px;
    height: 2px;
    background-color: #fff;
    margin-top: 11px;
    transition: width 0.5s linear;

  }
  &:hover::after {
    width: 95px;
  }
  &.black-line::after {
    background-color: @font;
  }
}
.stn-services {
  &:extend(.stn-padding);
  background-color: @accent;
  color: #fff;
  font-weight: 500;

  h3 {
    text-transform: uppercase;
    font-size: 1.714em;
    line-height: 1;
    margin-top: 21px;
    margin-bottom: 20px;
  }
  [class^="col-"] {
    @media (max-width: 1200px) {
      margin-bottom: 50px;
    }
  }
} //.stn-service

// Portfolio
.stn-portfolio {
  &:extend(.stn-padding);
  .horizontal-nav {
    float: right;
  }
  .stn-heading {
    margin-bottom: 80px;
    margin-left: -15px;
  }
}

.thumbs-row {
  min-height: 570px;
  [class^="col-"] {
    margin-bottom: 30px;
  }

  a {
    display: block;
    height: 270px;
    background-color: #979797;
    position: relative;
    opacity: .8;
    color: #fff;
    font-size: 72px;
    text-align: center;
    font-weight: 200;
    &::after {
      position: absolute;
      content: '+';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #454e56;
      background-color: fade(#454e56, 80%);
      line-height: 1;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
    &:hover::after {
      opacity: 1;
      line-height: 270 / 72;
    }
  }
}

.thumb-1 {
  .bg-img('thumb-1.jpg');
}

.thumb-2 {
  .bg-img('thumb-2.jpg');
}

.thumb-3 {
  .bg-img('thumb-3.jpg');
}

.thumb-4 {
  .bg-img('thumb-4.jpg');
}

.thumb-5 {
  .bg-img('thumb-5.jpg');
}

.thumb-6 {
  .bg-img('thumb-6.jpg');
}

.thumb-7 {
  .bg-img('thumb-7.jpg');
}

.thumb-8 {
  .bg-img('thumb-8.jpg');
}
